{% extends "admin/base.html" %}

{% block content %}
    <div class="container-fluid py-4">
      <div class="row">
        
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">person</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Total Users</p>
                <h4 class="mb-0">{{total_users}}</h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Group chats</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Group</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Total Messages</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Messages (30 mins)</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Send message</th>
                      <!-- <th class="text-secondary opacity-7"></th> -->
                    </tr>
                  </thead>
                  <tbody>
                    {% for group in groups %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <polkadot-web-identicon style="display: inline-block;" address="{{ group.id }}" theme="jdenticon" class="rounded-circle mr-1" size="40"></polkadot-web-identicon>
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ group.name }}</h6>
                            <p class="text-xs text-secondary mb-0">{{ group.id }}</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p align="center" class="text-xs text-secondary mb-0">{{ group.messages|length }}</p>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success">{{ group.messages|length }}</span>
                      </td>
                      <td class="align-middle text-center">
                          <div class="input-group input-group-outline mb-3">
                            <span class="text-secondary text-xs font-weight-bold">
                              <input type="text" class="form-control" id="{{ group.id }}" placeholder="Send message ...">
                            </span>
                            <button class="btn btn-primary" onclick="send_general_message('{{ group.id }}')" id="send_message"><i class="fa fa-send" aria-hidden="true"></i></button>
                          </div>
                      </td>
                    </tr>
                    {% endfor %}                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{{ url_for('static', filename='js/material-dashboard.min.js') }}"></script>
  <script>
    var socket;
    $(document).ready(function () {
      socket = io("http://" + document.domain + ":" + location.port + "/chat");
    })
    function send_general_message(id){
      const msg_holder = $("#"+id);
      var text = msg_holder.val();
      if (text.replace(" ", "") != "") {
        msg_holder.val("");
        socket.emit("gen_msg", { message: text, dept_id: id });
      }
    }
  </script>
{% endblock %}