body{margin:20px;}

.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}

.chat-messages {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.send-bar {
    bottom: 0px;
}
.usernames {
    border: none;
    color: white;
    background: transparent;
}
.usernames:focus{
    border: none;
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0;
    overflow-wrap: anywhere;
}

.chat-message-left {
    width: 70%;
    margin-right: auto
}

.chat-message-right {
    width: 70%;
    flex-direction: row-reverse;
    margin-left: auto
}

.chat-message {
    width: auto;
    max-width: 40%;
    overflow-wrap: anywhere;
    position: relative;
    align-self: center;
    text-align: center;
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}